rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contact_queries/{contactQueryId} {
      allow read, update, delete: if false;
      allow create: if request.resource.data.id == contactQueryId;
    }
  }
}